.gamePanel {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// min-height: 100vh;
}

.chessPlay {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	min-height: 100vh;
}

.mainContent {
	@media (width < 1120px) {
		padding: 30px 0;
	}

}

.gameIsEnd {
	opacity: 0.5;
}