.boardSquare {
	width: var(--square-size);
	height: var(--square-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg {
	width: var(--figure-svg-size);
	height: var(--figure-svg-size);
}

.label {
	background-color: green;
	width: 20%;
	height: 20%;
	border-radius: 50%;
}

.available {
	border: 2px solid green;
}

.selected {
	border: 2px solid yellow;
}