.button {
	cursor: pointer;
	outline-color: none;
	border: none;

	&:disabled {
		opacity: 0.7;
		cursor: default;
		color: black;
	}
}

.primary {
	background: rgb(19 160 202);
	color: rgb(219 219 219);
}

.outline {
	background: green;
}

// .size-s {

// }

.size-m{
	font-size: 18px;
	padding: 8px 20px;
}

// .size-l{

// }

// .size-x {

// }