.options {
	margin-top: 5px;
}

.option {
	background: rgb(19 160 202);
	color: rgb(219 219 219);
	border: 2px solid wheat;
	cursor: pointer;
	min-height: 30px;
	font-size: 20px;

	&:hover {
		background-color: green;
	}
}