@import "../variables/variables.module";

[data-style="ice"] {
	.evenSquare {
		background: bisque;
	}
	
	.oddSquare {
		background: rgb(57 151 128);
	}
}

[data-style="wood"] {
	.evenSquare {
		background: rgb(230 134 17);
	}
	
	.oddSquare {
		background: rgb(51 22 22);
	}
}

[data-style="field"]  {
	.evenSquare {
		background: rgb(55 102 37);
	}
	
	.oddSquare {
		background: rgb(255 255 255);
	}
}