.gamePanelLayout {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1000px) minmax(auto, 300px) 1fr;
	grid-template-rows: 1fr 2fr 1fr ;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-areas: 
		// 'emptyFirstString emptyFirstString emptyFirstString emptyFirstString emptyFirstString'
		'emptyLeft topTimer mainContent history emptyRight' 
		'emptyLeft sideMenu mainContent history emptyRight' 
		'emptyLeft bottomTimer mainContent history emptyRight'
		// 'emptyLastString emptyLastString emptyLastString emptyLastString emptyLastString'
		;
	
	@media (width < 1120px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(auto, 120px) 1fr auto auto;
		/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
		grid-template-areas: 
			'bottomTimer topTimer' 
			'mainContent mainContent'
			'history history'
			'sideMenu sideMenu';
	}
}

.topTimer {
	grid-area: topTimer;
}

.bottomTimer {
	grid-area: bottomTimer;

	// justify-self: center;
	// align-self: center;
}

.sideMenu {
	grid-area: sideMenu;

}

.mainContent {
	grid-area: mainContent;
	place-self: center center;
}

.history {
	grid-area: history;

}