.gamePanelLayout {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1000px) minmax(auto, 300px) 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
		'emptyLeft topTimer board history emptyRight' 
		'emptyLeft settings board history emptyRight' 
		'emptyLeft bottomTimer board history emptyRight';

	@media (width < 1120px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 3fr 1fr 1fr;
		grid-template-areas: 
			'bottomTimer topTimer' 
			'board board'
			'history history'
			'settings settings';
	}
}

.topTimer {
	grid-area: topTimer;
}

.bottomTimer {
	grid-area: bottomTimer;

}

.settings {
	grid-area: settings;

}

.board {
	grid-area: board;
	place-self: center center;
}

.history {
	grid-area: history;

}