.chessSquare {
	width: var(--square-size);
	height: var(--square-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg {
	width: var(--figure-svg-size);
	height: var(--figure-svg-size);
}